<html>
<head>
    <title>Welcome to 'Get your Hair Did'</title>
</head>
<body>
    <h1>Welcome to 'Get your Hair Did'</h1>

    <h3><a href="/stylist">See list of available stylists</a></h3>
</body>
</html>
