<html>
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>Stylist Client List</title>
</head>
<body>
    <h1>Hello {{ stylist.getName }}</h1>

    {% if clients is not empty %}
        <p>Here are all your currrent clients:</p>
        <ul>
            {% for client in clients %}
                <li> {{ client.getName }} </li>
            {% endfor %}
        </ul>
    {% endif %}
    <h2>Taking on more clients {{ stylist.getName }}?  Add a new one here:</h2>
    <br>
    <div class="container">
        <form action="/addclient" method="post">
           <input id="stylist_id" type="hidden" name="stylist_id" value="{{stylist.getId}}">
           <label for="newclient">Add new client:</label>
           <input id="newclient" type="text" name="newclient" placeholder="clients name"value="">
           <button type="submit" name="button">add</button>
       </form>
    </div>

    <form action='/delete_clients' method='post'>
        <button type='submit'>Clear</button>
    </form>
    <p><a href='/'>Home</a></p>
</body>
</html>
